.brand-logos {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.brand-container img {
  max-width: 200px;
  max-height: 60px;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.brand-container img:hover {
  opacity: 5;
}
