.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #111;
  color: #fff;
  padding: 40px;
  gap: 30px;
}

.footer-section {
  flex: 1 1 200px;
}

.footer h4 {
  margin-bottom: 15px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li::before {
  content: '• ';
  color: #fff;
  margin-right: 5px;
}
.footer li:hover{
  color: #20a3e4;
  cursor: pointer;
}

.footer-brands {
  display: flex;
  gap: 40px;
}

.newsletter {
  display: flex;
  margin-top: 10px;
  background-color: #1e1e3f;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.newsletter input {
  padding: 10px;
  border: none;
  outline: none;
  flex: 1;
  background-color: #1e1e3f;
  color: white;
}

.newsletter button {
  background-color: #000;
  color: white;
  border: none;
  padding: 0 15px;
  font-size: 18px;
  cursor: pointer;
}
