/* Filter Bar */
.filter-bar {
    position: relative;
    top: -0.5px;
    /* z-index: 900; */
  background: #ab4ad8;
  color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 40px;
  font-family: "Segoe UI", sans-serif;
}

.filter-bar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.filter-bar ul li {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 10px;
  transition: color 0.3s ease;
}

.filter-bar ul li:hover {
  color: #0c0303; /* Highlight color */
}

/* Dropdown Menu */
.filter-bar ul li .dropdown-menu {
  position: absolute;
  top: 120%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  min-width: 220px;
  display: none;
  flex-direction: column;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  z-index: 100;
}


/* Dropdown Items */
.filter-bar ul li .dropdown-menu li {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  transition: background 0.2s ease;
}

.filter-bar ul li .dropdown-menu li:hover {
  background: #f8f9fa;
  color: #a139e6;
}
