/* ===============================
   PgColiving Section
=================================*/
.pg-section {
  background: url("/src/img/pgbanner.webp") center/cover no-repeat;
  height: 420px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.pg-overlay {
  padding: 50px 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 1100px;
}

.pg-overlay h1 {
  position: relative;
  left: -140px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}