.app-container {
  padding: 20px;
  text-align: center;
}

.button-group {
  margin-top: 20px;
}

.button-group button {
  padding: 10px 20px;
  margin: 0 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(51, 194, 197);
  color: rgb(13, 13, 13);
  transition: 0.3s ease;
}

.button-group button:hover {
  background: #a52184;
  color: white;
}
